.button{
  margin: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 35%;
  font-size: 25px;
  font-weight: bolder;
  background-color: #eade4e;
  border-color: #ccc;
  color: #0c0c0cd4;
}

.button:hover{
  color: #eade4e;
  background-color: #2e2d2dd4;
}

.button:active{
  color: #eade4e;
  background-color: #0c0c0cd4;
}
