.content{
  height: 300px;
  padding-top: 5px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  color: azure;
  padding-bottom: 10px;
}

.aplication{
  margin-top: 15px;
  display: flex;
  width: 400px;
  height: 375px;
  border-radius: 10px;
  flex-direction: column;
}
